* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: white;
  border: 0px;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

a {
  text-decoration: none;
}

@media (min-width: 1100px) {
  .nav_bar_background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, white, #d8dee7);
    z-index: 4;
  }

  .nav_bar_container {
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    top: 0px;
    flex-direction: row;
    background-image: linear-gradient(to right, white, #d8dee7);
    z-index: 4;
  }
  .nav_bar_container .nav_menu_toggle {
    display: none;
  }
  .nav_bar_container #nav_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav_bar_container #nav_links div {
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_bar_container #nav_links div a {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .nav_bar_container #nav_links div a:visited, .nav_bar_container #nav_links div a:hover, .nav_bar_container #nav_links div a:active, .nav_bar_container #nav_links div a:link {
    color: black;
  }
}
@media (max-width: 1100px) {
  .nav_bar_background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background-color: #333;
    z-index: 5;
  }

  .nav_bar_container {
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    top: 0px;
    flex-direction: column;
    background-color: #333;
    z-index: 5;
  }
  .nav_bar_container .nav_menu_toggle {
    height: 100%;
  }
  .nav_bar_container .nav_menu_toggle img {
    height: 100%;
    float: right;
  }
  .nav_bar_container .nav_menu_toggle img:hover {
    cursor: pointer;
  }
  .nav_bar_container #nav_links {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding-bottom: 2vh;
  }
  .nav_bar_container #nav_links div {
    width: 100%;
    height: 100%;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav_bar_container #nav_links div:hover {
    background-color: black;
  }
  .nav_bar_container #nav_links div a {
    width: 100%;
    padding: 5px 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  .nav_bar_container #nav_links div a:visited {
    color: white;
  }
  .nav_bar_container #nav_links div a:hover {
    color: white;
  }
  .nav_bar_container #nav_links div a:active {
    color: white;
  }
  .nav_bar_container #nav_links div a:link {
    color: white;
  }
}
/*
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0px 40px 10px $color1;
  background-image: linear-gradient(to right, white, $color1);
  z-index: 3;
  div {
    display: flex;
    align-content: center;
    img {
      height: 100%;
    }
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    a {
      &:visited {
        color: black;
      }
      &:active {
        color: black;
      }
      &:link {
        color: black;
      }
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
  .logo {
    flex: 1;
    margin-left: 20px;
  }
  .right {
    flex: 1;
  }
  .center_nav {
    margin: 0px 15px;
    margin-top: 12px;
  }
}*/
.wallpaper {
  z-index: 0;
  text-align: center;
  width: calc(100% - 2 * 20px);
  padding: 20px;
  vertical-align: middle;
  font-weight: 800;
  margin: 0vh 0px;
  padding-top: 25vh;
  font-size: min(20vw, 7rem);
  color: #313bac;
  background-image: url("resources/wallpaper.png");
  height: calc(50vh - 70px);
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.play {
  background-color: #d8dee7;
  width: 100%;
}
.play #play_h1 {
  color: black;
  text-align: center;
  padding: 10vh 5px;
  padding-bottom: 0px;
}
.play #play_h1 span {
  color: #313bac;
}
.play .modes {
  padding: 8vh 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.play .modes .row {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.play .modes .row a {
  color: white;
  width: 250px;
  background-color: #313bac;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  padding: 20px;
}
.play .modes .row a img {
  width: 80%;
  margin: 20px 0px;
}
.play .modes .row a:visited {
  color: white;
}
.play .modes .row a:active {
  color: white;
}
.play .modes .row a:link {
  color: white;
}
.play .modes .row a:hover {
  box-shadow: 0px 0px 15px 10px #858585;
}

::placeholder {
  color: white;
}

#search {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px;
  height: 50vh;
}
#search #search_h1 {
  color: #313bac;
  text-align: center;
  padding: 7vh 5px;
}
#search #search_h1 span {
  color: black;
}
#search form {
  margin: 0vh auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search form .search-bar {
  width: min(800px, 80%);
  height: 25px;
  background-color: #313bac;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  padding: 17px 20px;
}
#search form .search-bar img {
  margin-left: 0px;
}
#search form .search-bar img:hover {
  cursor: pointer;
}
#search form .search-bar input {
  flex: 1;
  width: 0px;
  margin: 0px 20px;
  font-size: 25px;
  background-color: #313bac;
  color: white;
  border: 0px;
  outline: 0px;
}

#not-found {
  display: none;
  margin: 10vh 0px;
  text-align: center;
  font-size: 25px;
  padding: 0px 20px;
}
#not-found span {
  color: #313bac;
}

#found {
  display: none;
  margin: 10vh 0px;
  text-align: center;
  font-size: 25px;
  padding: 0px 20px;
}
#found span {
  color: #313bac;
}
#found a:visited, #found a:active, #found a:link, #found a:hover {
  color: #313bac;
}
#found img {
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
